<div class="comments">
  {{#each this}}
  <div class="card">
    <h3 class="comment card-body"></h3>
    <section class="text">
      <div class="text">
        {{comment_text}}
      </div>
      <div class="meta">
        -{{user.username}}, {{format_date created_at}}
      </div>
    </section>
  </div>
  {{/each}}
</div>